name: API Documentation
permissions:
  contents: read
  pull-requests: write

on: 
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - 'docs/**'
      - '.github/workflows/docs.yml'

  pull_request:
    paths:
      - 'src/**'
      - 'docs/**'
      - '.github/workflows/docs.yml'

jobs:

  apidocs:
    runs-on: ubuntu-latest
    steps:

    - name: Check out smax-python
      uses: actions/checkout@v6

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.x'

    - name: Install numpy libs
      run: pip install numpy

    - name: Install psutil libs
      run: pip install psutil

    - name: Install redis libs
      run: pip install redis

    - name: Install Sphinx and RTM theme
      run: pip install sphinx sphinx-rtd-theme

    - name: Build docs
      run: |
        cd docs
        sphinx-apidoc -o . ../src/smax
        sphinx-build -M html . .

    - name: Checkout gh-pages
      uses: actions/checkout@v6
      with:
        ref: 'gh-pages'
        path: site

    - name: copy docs to gh-pages
      run: cp -a docs/html/* site/

    - name: Push to pages
      run: |
        cd site
        git config --global user.email "$GITHUB_JOB+github-actions[bot]@users.noreply.github.com"
        git config --global user.name "github-actions"
        git add -A
        git commit -m "[automated site update]" && git push || true
